# API Credentials
FFS_CLIENT_ID=8ef6...1596
FFS_SECRET=p8e-...Qzxy

# LLM Credentials and Config
LLM_PROVIDER=openai
LLM_API_KEY=sk-...mhQA
LLM_MODEL=gpt-3.5-turbo
LLM_BASE_URL=
LLM_MAX_TOKENS=1000
LLM_TEMPERATURE=0.7

# Application Config
INPUT_DIRECTORY=./input
OUTPUT_DIRECTORY=./output
FILE_ENCODING=utf-8

# Azure Storage Configuration
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=
